<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>IRIS API</title>
</head>
<body bgcolor=#ADD8E6>
<div class="login">
<h1>IRIS PREDICTION</h1>
<!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('predict')}}"method="POST">
<input type="text" name="SepalLengthCm" placeholder="SepalLengthCm" required="required" /><br><br>
<input type="text" name="SepalWidthCm" placeholder="SepalWidthCm" required="required" /><br><br>
<input type="text" name="PetalLengthCm" placeholder="PetalLengthCm" required="required" /><br><br>
<input type="text" name="PetalWidthCm" placeholder="PetalWidthCm" required="required" /><br><br>
<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
</form>
<br>
<br>
{{ prediction_text }}
</div>
</body>
</html>